$primary_color: rgb(145, 71, 255);
$primary_hover_color: rgb(110, 52, 196);
$primary_active_color: rgb(80, 38, 143);

$secondary_color: rgb(73, 73, 73);
$secondary_hover_color: rgb(107, 107, 107);
$secondary_active_color: rgb(136, 136, 136);

$text_color: #efeff1;
