@import "../../../styles/colors.scss";

.container {
  display: flex;
  justify-content: center;
}

.dropdown {
  position: absolute;
  background-color: white;
  color: black;
  transform: translateY(3.5em);
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.dropdownItem {
  padding: 8px 16px;

  &:hover {
    cursor: pointer;
    background-color: $primary_hover_color;
    color: white;
  }

  &:active {
    background-color: $primary_active_color;
  }
}

.dropdownEmpty {
  padding: 8px 32px;
}
